/* You can add global styles to this file, and also import other style files */
* { 
  font-family: 'Josefin Sans', sans-serif;
}

.text-dark {
  color: #413f3f;
}

a {
  text-decoration: none;
  color: #413f3f;
}

.container {
    max-width: 1140px;
}
