.header-container {
  background-color: #fff;
  height: 66px;
}

.blog-header {
  line-height: 1;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.blog-header-logo {
  height: 60px;
}

.blog-header-logo-link {
  align-items: center;
}

.blog-header-logo-link img {
  height: 60px;
  width: 60px;
  padding: 2px;
}

.blog-header-logo-link span{
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 60px;
  padding-left: 2px;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.display-4 {
  font-size: 2rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

/* custom */

.nav-link {
  text-transform: capitalize;
  font-weight: 700;
}

.navbar .container-fluid{
  padding: 0;
}

.nav-link {
  font-size: 17px;
  line-height: 2;
}

.navbar-collapse  form{
  flex: 1;
}

.btn-search {
  background-color: #09ff90;
}

.btn-search:hover {
  background-color: #000;
  color: #09ff90;
}