<div class="post-list-page d-flex">
  <div class="category-list"></div>

  <div class="posts-list">
    <h2>Danh sách bài viết</h2>
    <p>Bài </p>
    <div class="wrapper cardList mt-5 d-flex flex-wrap">
      <div class="card-container">
        <app-post-card
          slug="Acoustic Night: HERE and NOW"
          summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          title="Acoustic Night: HERE and NOW"
          authorImage="https://images.unsplash.com/photo-1650196186567-b42a5de15fb5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1972&q=80"
          authorName="Ban Đại Diện K34"
        >
        </app-post-card>
      </div>

      <div class="card-container">
        <app-post-card
          slug="Acoustic Night: HERE and NOW"
          summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          title="Acoustic Night: HERE and NOW"
          authorImage="https://images.unsplash.com/photo-1650196186567-b42a5de15fb5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1972&q=80"
          authorName="Ban Đại Diện K34"
        >
        </app-post-card>
      </div>

      <div class="card-container">
        <app-post-card
          slug="Acoustic Night: HERE and NOW"
          summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          title="Acoustic Night: HERE and NOW"
          authorImage="https://images.unsplash.com/photo-1650196186567-b42a5de15fb5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1972&q=80"
          authorName="Ban Đại Diện K34"
        >
        </app-post-card>
      </div>

      <div class="card-container">
        <app-post-card
          slug="Acoustic Night: HERE and NOW"
          summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          title="Acoustic Night: HERE and NOW"
          authorImage="https://images.unsplash.com/photo-1650196186567-b42a5de15fb5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1972&q=80"
          authorName="Ban Đại Diện K34"
        >
        </app-post-card>
      </div>
    </div>
  </div>
</div>
